
<div class="container">
	<h1>Our Team</h1>
	<table class="table table-bordered">
  <tr>
  		<th>
  			Our Team
  		</th>
  		<td>Jon Dougherty</td>
  		<td>Father Dearest</td>
  </tr>
  <tr>
  		<td>
  	
  		</td>
  		<td>Jon Dougherty</td>
  		<td>Father Dearest</td>
  </tr>
	</table>
</div>